services:
  tag-compliance:
    build: .
    container_name: tag-noncompliant-resources
    volumes:
      # Mount current folder so log files are available on host
      - ./:/app
    environment:
      - "AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}"
      - "AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}"
      - "AWS_DEFAULT_REGION=ca-central-1"
      # Required parameters
      - Customer=${Customer}
      - CostCenter=${CostCenter}
      - Sub_Account_ID=${Sub_Account_ID}
      - ENABLE_DRY_RUN=${ENABLE_DRY_RUN}
    command: >
      --aggregator aws-controltower-ConfigAggregatorForOrganizations
      --config-rule required-tags-costcenter-customer
      --customer ${Customer}
      --cost-center ${CostCenter}
      --account ${Sub_Account_ID}
      --aggregator-region ca-central-1
      --role-name OrganizationAccountAccessRole
      ${ENABLE_DRY_RUN}
      --verbose
